// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$primary-background: #899499;
$main-page-color: #000000;
$white-text: white;


// $primary-background: black;
// $section-color: #868e96;
// $complimentary-color: lightgray;
// $font-color: white;
// $button-color: black;