// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$primary-background: silver;
$background-color: #000000;
$white-text: white;
$border: 2px solid white;




// $primary-background: black;
// $section-color: #868e96;
// $complimentary-color: lightgray;
// $font-color: white;
// $button-color: black;