@import '_variables';
@import './_mixins';

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $white-text;
  background: $primary-background;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  
}

.logged-in-dashboard-section {
  display: display;
}

nav {
  background: $background-color;
  opacity: $opacity;
  margin: 0px;
  width: 100%;
  position:fixed;
  height: 17%;
  padding-top:0;
  margin-bottom: 2%
}

h1 {
  text-align: $center-text;
  margin-top: 3%;
  font-size: 2.5em;

}

main {
  display: flex;
}

.return-bookings-view,
.submission-btn,
.submit-tag-view-btn {
  text-align: $center-text;
  cursor: pointer;
}

.logout-btn{
  margin-left: 38%;
}


/* ~~~~~ Log-in Page ~~~~~ */
.user-login-section {
  display: flex;
  flex-direction: column;
  text-align: $center-text;
  position: absolute;
  top: 60%;
  background-color: black;
  opacity: 0.9;
  transform: translate(0, -50%);
  border: 5px solid white;
  padding: 10px;
  margin-left: 29%
};

.budapest-hotel-img {
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%
}

.login-form {
  color: $white-text;
}

/* ~~~~~ Dashboard View ~~~~~ */

.dashboard-view-section{
  display: flex;
}

.dashboard-view-section {
  margin-top: 10%;
  width: 97%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
}

.first-name,
.money-spent {
text-align: $center-text;
}

.search-section {
  text-align: $center-text;
}

.customer-bookings-section,
.available-rooms-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  margin-left: 8%;
  margin-top: 0;
}

.booking-title,
.available-title {
  border: $border;
  background-color: $background-color;
}

.available-title {
  display: flex;
  flex-direction: column;
}

.all-hotel-bookings,
.available-bookings {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: $background-color;
  border: $border;
  margin: 2% auto;
}

.bookings-card,
.available-rooms-card {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: minmax(200px, auto);
  justify-content: center;
  margin-top: 2%;
  margin-left: 2%;
}

.traveler-details-aside {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  margin-left: 4.5%;
  margin-top: 6.5%;
  border: $border;
  height: fit-content;
}

.date-section-div{
  margin-bottom: 15%;
}

.all-hotel-bookings-section {
  display: flex;
  text-align: $center-text;
  justify-content: flex-start;
  height: fit-content;

}

.new-booking-section {
 margin-top: 5%;
 text-align: $center-text;
}

.past-stays,
.current-stays {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.welcome-customer-details,
.past-bookings,
.current-bookings,
.filter-hotel-rooms,
.room-grid
 {
  border: $border;
}

// /* ~~~~~ Log-in Page ~~~~~ */
// .budapest-hotel-img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%
// }

// .login-form {
//   color: white;
// }

// .user-login-section {
//   font-family: 'Quicksand', sans-serif;
//   text-align: center;
//   font-weight: bolder;
// }

.hidden {
  display: none;
}