/* This is an example of how to import a partial scss file*/
@import '_variables';
// @import '_resize';
@import './_mixins';

//overflow-y: auto;

body {
  font-family: 'Quicksand', sans-serif;
  color: $white-text;
  background: $primary-background;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  background: black;
  height: 30%;
  align-items: flex-end;
  flex-direction: row;
  text-align: center;
}

main {
  display: flex;
}

/* ~~~~~ Log-in Page ~~~~~ */
.user-login-section {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  left: 30%;
  top: 40%;
  text-align: center;
}

.budapest-hotel-img {
  display: block;
  margin-left: 33%;
  margin-right: auto;
  width: 50%
}

.login-form {
  color: $white-text;
  margin-left: 18%
}

/* ~~~~~ Dashboard View ~~~~~ */

.dashboard-view-section,
.all-hotel-bookings {
  display: flex;
}

.dashboard-view-section {
  margin-top: 10%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
}

.all-hotel-bookings {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 5%;
  width: 60%;
}

.traveler-details {
  display: flex;
  flex-direction: column;
}

.all-hotel-bookings {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.new-booking-section {
  border: 2px dotted red;
  margin-top: 40%;
}

.past-stays,
.current-stays {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  margin-left: 10%;
}


.traveler-details,
// .user-login-section,
.money-details,
.past-bookings,
.current-bookings,
.filter-hotel-rooms,
.room-grid
 {
  border: 2px solid white;
  // background: $section-color;
}


// /* ~~~~~ Log-in Page ~~~~~ */
// .budapest-hotel-img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%
// }

// .login-form {
//   color: white;
// }

// .user-login-section {
//   font-family: 'Quicksand', sans-serif;
//   text-align: center;
//   font-weight: bolder;
// }

.hidden {
  display: none;
}