/* This is an example of how to import a partial scss file*/
@import '_variables';
// @import '_resize';
@import './_mixins';

//overflow-y: auto;
html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $white-text;
  background: $primary-background;
  margin: 0;
  display: flex;
  flex-direction: column;
  // background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background: black;
  height: 93px; 
  align-items: flex-end;
  flex-direction: row;
  text-align: center;
}

.logout {
  display: flex;
  justify-content: flex-end;
  // margin-right: 0.5%;
}


main {
  display: flex;
}

/* ~~~~~ Log-in Page ~~~~~ */
.user-login-section {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  left: 30%;
  top: 40%;
  text-align: center;
  background-color: gray;
}

.budapest-hotel-img {
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%
}

.login-form {
  color: $white-text;
  margin-left: 15%
}

/* ~~~~~ Dashboard View ~~~~~ */

.dashboard-view-section{
  display: flex;
}

.dashboard-view-section {
  margin-top: 10%;
  width: 97%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
}

.first-name,
.money-spent {
text-align: center;
}

.search-section {
  text-align: center;
}

.customer-bookings-section,
.available-rooms-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  margin-left: 8%;
  margin-top: -6%
}

.booking-title,
.available-title {
  border: $border;
  background-color: black;

}

.all-hotel-bookings,
.available-bookings {
  width: 100%;
  background-color: black;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% auto;
}

.bookings-card,
.available-rooms-card {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: minmax(200px, auto);
  justify-content: center;
  margin-top: 2%;
  // border: dotted white 1px;
  margin-left: 2%;
  // overflow-y: auto;
}

.traveler-details-aside {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-left: 4.5%;
  margin-bottom: 40%;
  border: $border;
}

.date-section-div{
  margin-bottom: 15%;
}

.all-hotel-bookings-section {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.new-booking-section {
 margin-top: 5%;
 text-align: center;
}

.past-stays,
.current-stays {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

// .traveler-details,
// .user-login-section,
.welcome-customer-details,
.past-bookings,
.current-bookings,
.filter-hotel-rooms,
.room-grid
 {
  border: $border;
}

.make-booking-btn 
{
  text-align: center;
  display: flex;
  padding: 15px 32px;
  margin: 10px 10px 10px 10px;
  border-radius: 3%;
  box-shadow: 4px 3px 5px #073034;
}

// /* ~~~~~ Log-in Page ~~~~~ */
// .budapest-hotel-img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%
// }

// .login-form {
//   color: white;
// }

// .user-login-section {
//   font-family: 'Quicksand', sans-serif;
//   text-align: center;
//   font-weight: bolder;
// }

.hidden {
  display: none;
}