@import '_variables';
@import './_mixins';

html {
  @include heightAndWidth(100%, 100%);
}

body {
  @include flexbox(column, none, none, none, none); 
  font-family: 'Quicksand', sans-serif;
  color: $white-text;
  background: $primary-background;
  margin: 0;
  background-size: cover; 
}

nav {
  @include heightAndWidth(17%, 100%);
  background: $background-color;
  opacity: $opacity;
  margin: 0px;
  position: fixed;
  padding-top:0;
  margin-bottom: 2%
}

h1 {
  text-align: $center-text;
  margin-top: 3%;
  font-size: 2.5em;
}

main {
  display: flex;
}

.return-bookings-view,
.submission-btn,
.submit-tag-view-btn {
  text-align: $center-text;
  cursor: pointer;
}

.logout-btn{
  margin-left: 38%;
}

/* ~~~~~ Log-in Page ~~~~~ */

.user-login-section {
  @include flexbox(column, none, none, none, none);
  text-align: $center-text;
  position: absolute;
  top: 60%;
  background-color: black;
  opacity: 0.9;
  transform: translate(0, -50%);
  border: 5px solid white;
  padding: 10px;
  margin-left: 29%
};

.budapest-hotel-img {
  @include heightAndWidth(0, 50%);
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

.login-form {
  color: $white-text;
}

/* ~~~~~ Dashboard View ~~~~~ */

.dashboard-view-section{
  display: flex;
}

.dashboard-view-section {
  @include heightAndWidth(80%, 97%);
  @include flexbox(none, none, none, flex-start, none);
  margin-top: 10%;
}

.first-name,
.money-spent {
text-align: $center-text;
}

.search-section {
  text-align: $center-text;
}

.customer-bookings-section,
.available-rooms-section  {
  @include flexbox(column, none, none, none, center);
  border: 0;
  margin-left: 8%;
  margin-top: 0;
}

.booking-title,
.available-title {
  border: $border;
  background-color: $background-color;
}

.available-title {
  @include flexbox(column, none, none, none, none);
}

.all-hotel-bookings,
.available-bookings {
  @include flexbox(row, none, none, none, center);
  width: 100%;
  background-color: $background-color;
  border: $border;
  margin: 2% auto;
}

.bookings-card,
.available-rooms-card {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: minmax(200px, auto);
  justify-content: center;
  margin-top: 2%;
  margin-left: 2%;
}

.traveler-details-aside {
  @include flexbox(column, none, none, none, none);
  background-color: $background-color;
  margin-left: 4.5%;
  margin-top: 6.5%;
  border: $border;
  height: fit-content;
}

.date-section-div{
  margin-bottom: 15%;
}

.all-hotel-bookings-section {
  @include flexbox(none, none, flex-start, none, none);
  text-align: $center-text;
  height: fit-content;
}

.new-booking-section {
 margin-top: 5%;
 text-align: $center-text;
}

.welcome-customer-details,
.past-bookings,
.current-bookings,
.filter-hotel-rooms,
.room-grid
 {
  border: $border;
}

.hidden {
  display: none;
}